[defaults]
library             = /workspaces/ansible_generator/modules/PR
module_utils        = /workspaces/ansible_fgt_modules/module_utils
# httpapi_plugins     = /workspaces/ansible_fgt_modules/plugins/httpapi
log_path            = /workspaces/ansible_fgt_modules/log/ansible.log
