- hosts: localhost
  vars:
   host: "192.168.122.40"
   username: "admin"
   password: ""
   vdom: "root"
  tasks:
  - name: Configure VDOM settings.
    fortios_system_settings:
      host:  "{{ host }}"
      username: "{{ username }}"
      password: "{{ password }}"
      vdom:  "{{ vdom }}"
      https: "False"
      system_settings:
        comments: ''
        opmode: nat
        inspection_mode: proxy
        ngfw_mode: profile-based
        implicit_allow_dns: enable
        ssl_ssh_profile: certificate-inspection
        http_external_dest: fortiweb
        firewall_session_dirty: check_all
        manageip: ''
        gateway: 0.0.0.0
        ip: 0.0.0.0 0.0.0.0
        manageip6: "::/0"
        gateway6: "::"
        ip6: "::/0"
        device: ''
        bfd: disable
        bfd_desired_min_tx: 250
        bfd_required_min_rx: 250
        bfd_detect_mult: 3
        bfd_dont_enforce_src_port: disable
        utf8_spam_tagging: enable
        wccp_cache_engine: disable
        vpn_stats_log: ipsec
        vpn_stats_period: 600
        v4_ecmp_mode: source_ip_based
        mac_ttl: 300
        fw_session_hairpin: disable
        prp_trailer_action: disable
        snat_hairpin_traffic: enable
        dhcp_proxy: disable
        dhcp_server_ip: ''
        dhcp6_server_ip: ''
        central_nat: disable
        gui_default_policy_columns: []
        lldp_transmission: global
        link_down_access: enable
        asymroute: disable
        asymroute_icmp: disable
        tcp_session_without_syn: disable
        ses_denied_traffic: disable
        strict_src_check: disable
        asymroute6: disable
        asymroute6_icmp: disable
        sip_helper: disable
        sip_nat_trace: enable
        status: enable
        sip_tcp_port: 5060
        sip_udp_port: 5060
        sip_ssl_port: 5061
        sccp_port: 2000
        multicast_forward: enable
        multicast_ttl_notchange: disable
        multicast_skip_policy: disable
        allow_subnet_overlap: disable
        deny_tcp_with_icmp: disable
        ecmp_max_paths: 10
        discovered_device_timeout: 28
        email_portal_check_dns: enable
        default_voip_alg_mode: proxy-based
        gui_icap: disable
        gui_nat46_64: disable
        gui_implicit_policy: enable
        gui_dns_database: disable
        gui_load_balance: disable
        gui_multicast_policy: disable
        gui_dos_policy: enable
        gui_object_colors: enable
        gui_replacement_message_groups: disable
        gui_voip_profile: disable
        gui_ap_profile: enable
        gui_dynamic_profile_display: disable
        gui_local_in_policy: disable
        gui_local_reports: disable
        gui_wanopt_cache: disable
        gui_explicit_proxy: disable
        gui_dynamic_routing: enable
        gui_dlp: disable
        gui_sslvpn_personal_bookmarks: disable
        gui_sslvpn_realms: disable
        gui_policy_based_ipsec: disable
        gui_threat_weight: enable
        gui_multiple_utm_profiles: enable
        gui_spamfilter: disable
        gui_application_control: enable
        gui_ips: enable
        gui_endpoint_control: enable
        gui_endpoint_control_advanced: disable
        gui_dhcp_advanced: enable
        gui_vpn: enable
        gui_wireless_controller: enable
        gui_switch_controller: enable
        gui_fortiap_split_tunneling: disable
        gui_webfilter_advanced: disable
        gui_traffic_shaping: enable
        gui_wan_load_balancing: enable
        gui_antivirus: enable
        gui_webfilter: enable
        gui_dnsfilter: enable
        gui_waf_profile: disable
        gui_fortiextender_controller: disable
        gui_advanced_policy: disable
        gui_allow_unnamed_policy: disable
        gui_email_collection: disable
        gui_domain_ip_reputation: disable
        gui_multiple_interface_policy: disable
        gui_policy_learning: enable
        compliance_check: disable
        ike_session_resume: disable
        ike_quick_crash_detect: disable
        ike_dn_format: with-space
        block_land_attack: disable
